FullSolution/GUI/Connected Services/WcfServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="IService_GetMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getActiveResources_InputMessage">
    <wsdl:part name="parameters" element="tns:getActiveResources" />
  </wsdl:message>
  <wsdl:message name="IService_getActiveResources_OutputMessage">
    <wsdl:part name="parameters" element="tns:getActiveResourcesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_deleteResource_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteResource" />
  </wsdl:message>
  <wsdl:message name="IService_deleteResource_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResourceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_saveResources_InputMessage">
    <wsdl:part name="parameters" element="tns:saveResources" />
  </wsdl:message>
  <wsdl:message name="IService_saveResources_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveResourcesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMessage" message="tns:IService_GetMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMessageResponse" message="tns:IService_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getActiveResources">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getActiveResources" message="tns:IService_getActiveResources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getActiveResourcesResponse" message="tns:IService_getActiveResources_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteResource">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/deleteResource" message="tns:IService_deleteResource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/deleteResourceResponse" message="tns:IService_deleteResource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveResources">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/saveResources" message="tns:IService_saveResources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/saveResourcesResponse" message="tns:IService_saveResources_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://tempuri.org/IService/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActiveResources">
      <soap:operation soapAction="http://tempuri.org/IService/getActiveResources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteResource">
      <soap:operation soapAction="http://tempuri.org/IService/deleteResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveResources">
      <soap:operation soapAction="http://tempuri.org/IService/saveResources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8080/Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>